@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.footer-link {
  @apply flex items-center gap-2 text-gray-400
         transition-all duration-300 ease-out
         hover:text-blue-400
         hover:translate-x-0.5
         hover:opacity-80
         text-sm;
}
